<div id="map" style="height: 85%; position: absolute; padding: 0px;" class="col-md-8">
	<div id="map-canvas"></div>
</div>
<div class="col-md-4 pull-right">
	<h4>Map Details</h4><hr>
	<div>
		<b>Start: </b>
		<select id="start" onchange="calculateAndDisplayRoute();">
			<option value="Pune">Pune</option>
			<option value="Mumbai" selected="selected">Mumbai</option>
			<option value="joplin, mo">Joplin, MO</option>
			<option value="oklahoma city, ok">Oklahoma City</option>
			<option value="amarillo, tx">Amarillo</option>
			<option value="gallup, nm">Gallup, NM</option>
			<option value="flagstaff, az">Flagstaff, AZ</option>
			<option value="winona, az">Winona</option>
			<option value="kingman, az">Kingman</option>
			<option value="barstow, ca">Barstow</option>
			<option value="san bernardino, ca">San Bernardino</option>
			<option value="los angeles, ca">Los Angeles</option>
		</select>
		<b>End: </b>
		<select class="" id="end" onchange="calculateAndDisplayRoute();">
			<option value="Pune" selected="selected">Pune</option>
			<option value="Mumbai">Mumbai</option>
			<option value="joplin, mo">Joplin, MO</option>
			<option value="oklahoma city, ok">Oklahoma City</option>
			<option value="amarillo, tx">Amarillo</option>
			<option value="gallup, nm">Gallup, NM</option>
			<option value="flagstaff, az">Flagstaff, AZ</option>
			<option value="winona, az">Winona</option>
			<option value="kingman, az">Kingman</option>
			<option value="barstow, ca">Barstow</option>
			<option value="san bernardino, ca">San Bernardino</option>
			<option value="los angeles, ca">Los Angeles</option>
		</select>
	</div>
	<div>
		<h3>Distance : <span id="route_distance"></span></h3> 
	</div>
	<div>
		<button class="btn btn-primary">Book Travel</button>
	</div>
</div>

<!-- Modal Start -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
<!-- Modal End -->



